<footer>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© 2021 Design by AIEN14-Team3</p>
                </div>
            </div>
        </div>
    </div>
</footer>