<%- include('parts/html-head') %>

    <body>
        <!-- Start header -->

        <%- include('parts/menu') %>
        

            <!-- End header -->


            <!-- main -->
            
            <main role="main">
                <div class="row" id="home">
                    <img src="images/home.jpeg" height="800" style="position: absolute;">
                    <img src="images/home1.jpeg" height="800" width="909" style="position: absolute; margin-left: 53%;">
                    <img src="images/home3.png" width="50%"
                        style="position: absolute; margin-left: 50%; margin-top: 325px;">
                    <iframe class='bot'
                        src='https://webchat.botframework.com/embed/qnamaker-team3-bot?s=9SSBQDxF4Nc.XrieN8Jtr7swDTOhWPNH04eOHyvJUPn1MQ64Bctt-LY'
                        style='min-width: 400px; min-height: 500px; position: absolute;'></iframe>
                </div>
            </main>

            <!-- end main -->

            <!-- section -->

            <!-- end section -->

            <!-- Start Footer -->

            <%- include('parts/footer') %>

                <!-- End Footer -->

                <!-- ALL JS FILES -->
                <%- include('parts/html-js') %>

    </body>

    </html>