<%- include('parts/html-head') %>

    <body>
        <!-- Start header -->

        <%- include('parts/menu') %>
            <link rel="stylesheet" href="css/product.css" />
            <link rel="stylesheet" href="css/search.css" />

            <!-- End header -->

            <!-- section -->

            <section class="inner_banner">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="full">
                                <h3>Product</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- end section -->
            <div>
            <section class="webdesigntuts-workshop">
                <form action="" method="">		    
                    <input type="search" placeholder="What are you looking for?">		    	
                    <button>Search</button>
                </form>
            </section>
        </div>
            <!-- section -->
            <section class="section">
                <div class="list">
                    <div class="product">
                        <img alt="shoes1" src="images/product/Bottle.jpg">
                        <div>
                            <h2>冰裂玻璃花器</h2>
                            <p class="price">$607<sup>.00</sup></p>
                            <p class="descr">
                                花瓶桌面裝飾<br>手工玻璃吹製-多道工序製成,形成自然紋理<br>冰花裂紋效果-內壁完整光滑,獨特設計凸顯質感<br>瓶口圓潤打磨,防割手設計,加厚設計不易碎
                            </p>
                            <br>
                            <a href="#">
                                <p>Add to cart</p>
                            </a>
                        </div>
                    </div>
                    <div class="product">
                        <img alt="shoes2" src="images/product/cup.jpg">
                        <div>
                            <h2>金邊馬克杯</h2>
                            <p class="price">$450<sup>.00</sup></p>
                            <p class="descr">　
                                ．純粹素色，簡約風格<br>
                                ．金邊點綴，小細節更吸睛<br>
                                ．霧面材質，觸感極佳<br>
                                ．英文Hero/Fight，為你的日常生活加油打氣<br>
                                ．貼心附蓋，不怕灰塵掉入<br>
                                ．同系列金色小勺，方便攪拌飲品</p>
                            <br>
                            <a href="#">
                                <p>Add to cart</p>
                            </a>
                        </div>
                    </div>
                    <div class="product">
                        <img alt="shoes3" src="images/product/Cell_phone.jpg">
                        <div>
                            <h2>IPhone 13 Pro Max</h2>
                            <p class="price">$36900<sup>.00</sup></p>
                            <p class="descr">
                                Pro 相機系統，威力驚人提升。 顯示器反應超靈敏，讓體驗全面更新。 全世界最快速的智慧型手機晶片。 耐用度格外出色。 電池續航力更是大幅躍升。</p>
                            <br>
                            <a href="#">
                                <p>Add to cart</p>
                            </a>
                        </div>
                    </div>
                    <div class="product">
                        <img alt="shoes4" src="images/product/Laptop.jpg">
                        <div>
                            <h2>HP ENVY 15-ep0156TX</h2>
                            <p class="price">$73900<sup>.00</sup></p>
                            <p class="descr">
                                • 輕薄15吋翻轉, 超高行動性<br>
                                • 僅5.34mm薄的極窄邊框讓視野盡收眼底
                                • 82.61%螢幕佔比, 視野寬廣無限
                                • OLED 4K螢幕, 更薄, 耗電降低, 專業色彩呈現, 畫面表現更為豐富</p>
                            <br>
                            <a href="#">
                                <p>Add to cart</p>
                            </a>
                        </div>
                    </div>
                    <div class="product">
                        <img alt="shoes3" src="images/product/Chair.jpg">
                        <div>
                            <h2>Lona 扶手布餐椅</h2>
                            <p class="price">$5990<sup>.00</sup></p>
                            <p class="descr">
                                北美白橡木、A型結構椅腳<br>沙發級高密泡棉<br>
                                寬度:56公分 深度:59公分<br>
                                高度: 78 公分<br>
                                座椅寬度:50公分 座椅深度:48公分 座椅高度:50公分</p>
                            <br>
                            <a href="#">
                                <p>Add to cart</p>
                            </a>
                        </div>
                    </div>
                    <div class="product">
                        <img alt="shoes3" src="images/product/Wine_glass.jpg">
                        <div>
                            <h2>SVALKA<br>紅酒杯</h2>
                            <p class="price">$36900<sup>.00</sup></p>
                            <p class="descr">
                                可保持酒的香氣和味道<br>達到醒酒效果，讓口感更好<br>
                                高度:18公分 容積:300毫升</p>
                                <br>
                                <a href="#">
                                    <p>Add to cart</p>
                                </a>
                        </div>
                    </div>
                    <div class="product">
                        <img alt="shoes3" src="images/product/Car.jpg">
                        <div>
                            <h2>TESLA<br>Model S</h2>
                            <p class="price">$3254900<sup>.00</sup></p>
                            <p class="descr">
                                續航里程:637公里<br>尖峰功率:1020hp<br>
                                最高速度:322公里/小時<br>驅動:三馬達全輪驅動</p>
                                <br>
                                <a href="#">
                                    <p>Add to cart</p>
                                </a>
                        </div>
                    </div>
                    <div class="product">
                        <img alt="shoes3" src="images/product/Couch.jpg">
                        <div>
                            <h2>北歐風格沙發<br>加大三人座</h2>
                            <p class="price">$15500<sup>.00</sup></p>
                            <p class="descr">質樸日系氣息，質感自然溫和<br>
                                實木框架，結實穩固<br>
                                舒適棉麻，透氣清爽<br>
                                椅腳採用天然實木打造</p>
                                <br>
                                <a href="#">
                                    <p>Add to cart</p>
                                </a>
                        </div>
                    </div>
                    <div class="product">
                        <img alt="shoes3" src="images/product/Dining_table.jpg">
                        <div>
                            <h2>樂華原木色<br>拉合餐桌</h2>
                            <p class="price">$6480<sup>.00</sup></p>
                            <p class="descr">
                                高級MDF+實木腳打造<br>
                                仿大理石紋5MM強化玻璃<br>
                                收合:寬110.5/深75.5/高73.5<br>
                                展開:寬140.5/深75.5/高73.5</p>
                                <br>
                                <a href="#">
                                    <p>Add to cart</p>
                                </a>
                        </div>
                    </div>
                    <div class="product">
                        <img alt="bed" src="images/product/Bed.jpg">
                        <div>
                            <h2>北歐風貓抓皮<br>五尺床台</h2>
                            <p class="price">$13500<sup>.00</sup></p>
                            <p class="descr">
                                內部材質：實木骨架 + 高密度泡棉<br>
                                外部材質：耐刮防水貓抓皮<br>
                                備註：台灣製造，可訂製顏色</p>
                                <br>
                                <a href="#">
                                    <p>Add to cart</p>
                                </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->

            <!-- Start Footer -->

            <%- include('parts/footer') %>

                <!-- End Footer -->

                <!-- ALL JS FILES -->
                <%- include('parts/html-js') %>
    </body>

    </html>